.chat-container {
  margin-top: 56px; /* Adjust for the fixed navbar */
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
}

.messages {
  overflow-y: auto;
  align-self: center;
  width: 80%;
  max-width: 80%;
  scroll-behavior: smooth;
}

.message {
  max-width: 75%;
  display: flex;
  align-items: center;
}

.chatbox {
  align-self: center;
  /*border-radius: 25px;*/
  width: 80%;
  max-width: 80%;
}

.chat-input {
  border: none;
  outline: none;
  resize: none;
}

.chat-input:focus {
  box-shadow: none;
}

.input-area {
}

/* User Message */
.message.user {
  justify-content: flex-end;
  align-self: flex-end;
  border-top-right-radius: 0;
  margin-left: auto;
}

.message.user .bubble {
  background-color: #007bff;
  color: #fff;
  border-radius: 15px 15px 0 15px;
}

/* AI Message */
.message.ai {
  justify-content: flex-start;
  max-width: 100%;
  width: 100% !important;
}

.message.ai .bubble {
  max-width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.4;
}

/* Common Bubble Styles */
.bubble {
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.4;
}

img {
    max-width: 100px;
    height: auto;
    display: block;
}
