.sidebar-container {
  width: 250px;
  transition: width 0.3s ease;
  overflow: hidden;
}

/*.sidebar-container > .closed > .sidebar{*/
/*  width: 0 !important;*/
/*}*/

.chat-wrapper {
  transition: margin-left 0.3s ease;
}

.chat-wrapper.sidebar-open {
  margin-left: 250px;
}
